.input-field{
  border-radius: 5px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px 0 inset;
}
.registration-form {
  background-color: #B3E8E5;
  padding: 20px;
  width: 500px;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
}
.form-group {
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
  position: relative;
}

.form-label {
  display: flex;
  flex-direction: column;
}

.error-message {
  position: absolute;
  color: red;
  bottom: 0;
  font-size: 10px;
}

.sign-up-button {
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: #0b8d86;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: #065d58;
  }
}
.subscribe-checkbox {
  display: flex;
  gap: 5px;
  align-items: center;

}

@media  screen and (max-width: 500px){
  .registration-form{
    max-width: 100%;
  }
}
